
// Specific CSS for your home-page
.background{
background-image:linear-gradient(rgba(113, 104, 104, 0.6), rgba(113, 104, 104, 0.6)), url(https://i.postimg.cc/J0xynv6S/Adobe-Stock-645227190.jpg);
  // background-color: aqua;
background-size:cover;
background-repeat: none;


  // background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 100%;
  // width: 100%;
}

.container{
  display: flex;
  justify-content: center;
  // padding: auto;
//  padding-left: ;
  // margin-left: 0px;
  // margin-right: 0px;
//  padding-right: 25px;
  width: 100%;
  height: 150%;
  // flex: content;
  flex-direction: column;
margin-top:100px ;
  // height: 500px;
  // text-align: center;
}

.signin-banner{
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  // margin: 0px;
  opacity: 80%;
}

h1{
  font-family: 'Roboto', 'Roboto', 'Roboto', 'Roboto', Geneva, Verdana, sans-serif;
}

.text-lg-start{
// color: goldenrod;
color: white;
text-shadow: 2px 2px 2px grey;
}

.signin-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // text-align: center;
}

.zoombox:hover{
  background-color: rgb(17, 16, 16);
  color: rgb(246, 246, 246);
  // opacity: 30%;
  transform: scale(1.02);
  transition: all 0.05s ease;
}

.logo{
  text-transform: capitalize;
  font-size: 30px;
  cursor: pointer;
  font-family: w;
}

li{
  list-style: none;
}

a{
  color: #111;
  text-decoration: none;
}

.menu{
  display: flex;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: 100;
}


.btn{
  font-weight: 500;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper stretches to the full height of the viewport */
}

section{
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
}

.video-section {
  flex: 1;
}

.img-container{
  position: absolute;
  top:0;
  height: 100vh;
  width: 100vw;
}

.img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 4rem; /* Adjust the gap between columns */
}

.columns {
  display: flex;
  flex-direction: column; /* Change flex-direction to column for better mobile layout */
  gap: 1.5rem;
  position: relative;
  align-items: center; /* Center the columns horizontally */
  text-align: center; /* Center the text inside columns */
}

.col img{
  object-fit: cover;
}


.col-1{
  display: flex;
  gap: 1.5rem;
  flex: 5;
}
.box1 .col-1 img:first-child{
  width: 150px;
  height: 180px;
  transform: translateY(-30px);
}

.box1 .col-1 img:nth-child(2){
  width: 380px;
  height: 430px;
}

.col-3{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  flex: 4;
}

.box1 .col-3 img:first-child{
  width: 320px;
  height: 170px;

}

.box1 .col-3 img:nth-child(2){
  width: 150px;
}
.box1 .col-3 img:nth-child(3){
  width: 200px;
  height: 200px;
}

.col-2{
  margin: auto;
  flex: 1.5;
}

.col-2 h1{
    font-family: w;
    font-size: 100px;
    text-transform: capitalize;
    position: absolute;
    top: 50px;
    left: 47%;
    z-index: 100;
}
.box1 .col-2 h1{
    top: 0;
}


.col-2 span{
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing:3px;
    opacity: .7;
}


.line{
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin: 2rem 0;
}

.text-box p{
    font-size: 12px;
    line-height: 1.9;
    padding-bottom: 1rem;
    opacity: .7;

}

.box2 .col-1 img:first-child{
    width: 200px;
    height: 250px;
    transform: translateY(200px);
}


.box2 .col-1 img:nth-child(2){
    height: 380px;
    width: 300px;
}
.box2 .col-3 img:nth-child(1){
    height: 300px;
    width: 220px;
}

.box2 .col-3 img:nth-child(2){
    width: 180px;
    height: 200px;
    align-self: flex-end;
}
.box2 .col-3 img:nth-child(3){
    width: 380px;
    height: 200px;
    transform: translateX(80px);
}


.box3 .col-1{
    display: flex;
    flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1){
    width: 200px;
    height: 280px;
    transform: translateX(30px);


}
.box3 .col-1 img:nth-child(2){
    width: 180px;
    height: 200px;
    margin-left: 80px;
    align-self: center;

}
.box3 .col-1 img:nth-child(3){
    width: 280px;
    height: 180px;

}
.box3 .col-1 img:nth-child(4){
    width: 250px;
    height: 180px;
    transform: translateY(-30px);
}

.box3 .col-3 img{
    width: 400px;
    height: auto;
}

footer{
    background-color: #f3e2e2;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}


.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{
    font-family: w;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.bg{
    font-size: 100px;
}

.sm{
    font-size: 35px;
    height: 40px;
}

.left{
    left: -25%;
}

.right{
    top: 50px;
    left: 75%;
}

.title span{
    position: absolute;
}

.n{
    z-index: -1;

}

.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}

.v_container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* opacity: 0; */
}


.left-side{
  position: absolute;
  top: 50px; /* Adjust this value to position the animation */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  z-index: 1;
  text-align: center;
}




.tv{
    font-family: w;
    display: flex;
    text-transform: capitalize;
}

.bottom{
    transform: translateY(70px);
}



.text-container{
    max-width: 260px;
}

.text-container p{
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}
