.image-rates{
   background-image: linear-gradient(rgba(165, 42, 42,));
}

.hb-head-container{
   display: flex;
   flex-direction: column;
text-align: center;
   padding: 20px 20px 20px 20px;
}

.hb-index-container{


}

.hb-index-background{
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaPaESFW33iFo8kS6Mk-9s_OhgBxeKaWZG3w&s);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
