.image-rates{
   background-image: linear-gradient(rgba(165, 42, 42, 0.257), rgba(165, 42, 42, 03)), url(how-much-can-i-borrow.jpg);
   background-position: center;
   background-size: 430px 200px;
   height: 150px;
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 20px 20px 20px 20px;

}

.half-screen-rates{
   background-color: red;
   width: 300px;
   height: 150px;
   position: absolute;
   left: 0;
   opacity: 0.5;
   border-radius: 0 5px 200px 0;

}

.hb-head-container{
   display: flex;
   flex-direction: column;
text-align: center;
   padding: 20px 20px 20px 20px;
}

.hb-index-container{
   margin-top: 60px;
   width: 100vw;
   // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaPaESFW33iFo8kS6Mk-9s_OhgBxeKaWZG3w&s);


}

.hb-index-background{
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaPaESFW33iFo8kS6Mk-9s_OhgBxeKaWZG3w&s);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
