

  <div class="homebuyer-new" style="position: relative">
    <div class="half-screen-new">
    </div>
    <div class=header-new>
    </div>
      <div class="image-new-hb">
        <h1>Homebuyer Property</h1>
      </div>
  </div>
   <%# <div class=form-new> %>
      <%= render "homebuyer_form", rate: @rate, homebuyer: @homebuyer %>
   <%# </div> %>



  </div>
</div>
