<div class="red-gradient-background">
  <div class="hb-container-new">
    <div class=header-new>
    <div class="">
        </div>
    <div class="image-new">
        <h1>Homebuyer Property</h1>
        </div>
    </div>
    <div class=form-new>
        <%= render "homebuyer_form", rate: @rate, homebuyer: @homebuyer %>
    </div>

  </div>
</div>
