<section class="pt-5 mt-xl-3 mt-xxl-5">
  <div class="row pt-1 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2">
    <div class="col-lg-4">
      <h2 class="h1 pb-1 pb-sm-2 mb-4">A hub for brokers and buyers alike</h2>
    </div>
    <div class="col-lg-8 col-xl-7 offset-xl-1">
      <div class="ps-lg-4 ps-xl-0">
          <div data-simplebar="init" class=""><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
            <ul class="nav nav-tabs flex-nowrap mb-2" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4 active" href="#designers" data-bs-toggle="tab" role="tab" aria-selected="true">First Home Buyers</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#developers" data-bs-toggle="tab" role="tab" aria-selected="false" tabindex="-1">Investors</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#managers" data-bs-toggle="tab" role="tab" aria-selected="false" tabindex="-1">Brokers</a>
              </li>
            </ul>
          </div></div></div></div><div class="simplebar-placeholder" style="width: 746px; height: 63px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
          <div class="tab-content py-2 pb-md-0 pt-sm-3 pt-lg-4 mb-4 mb-md-5">
            <div class="tab-pane fade active show" id="designers" role="tabpanel">
              <p class="fs-xl mb-4">The struggle of being a first home buyer can feel like navigating a maze of financial hurdles, juggling dreams with harsh realities, and facing the daunting task of competing in a fiercely competitive housing market, all while yearning for that place to call your own.</p>
              <ul class="fs-xl mb-0">
                <li class="mb-1">Access to your mortgage repayments and record of amount repayed, all in one place.</li>
                <li class="mb-1">An abundant range of brokers which is recommended to you based on your needs and wants.</li>
                <li class="mb-1">All brokers go through tough verification processes to ensure you are working with the best. </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="developers" role="tabpanel">
              <p class="fs-xl mb-4">Etiam sed porta massa. In sapien metus, lobortis eu tortor id, maximus commodo enim. Phasellus feugiat mi vitae enim cursus, ut scelerisque augue scelerisque. Pellentesque habitant morbi tristique senectus et netus.</p>
              <ul class="fs-xl mb-0">
                <li class="mb-1">Donec imperdiet dolor at leo sodales.</li>
                <li class="mb-1">Fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                <li class="mb-1">Lobortis ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                <li class="mb-1">Mollis dui nibh at condimentum.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="managers" role="tabpanel">
              <p class="fs-xl mb-4">Ipsum sed nascetur dolor accumsan integer phasellus tincidunt. Nulla quisque pellentesque adipiscing placerat integer feugiat facilisi elit mi. Dictum nunc lacinia vel molestie laoreet aliquet ridiculus diam justo viverra.</p>
              <ul class="fs-xl mb-0">
                <li class="mb-1">At donec auctor quam ut scelerisque dui.</li>
                <li class="mb-1">Mollis sed fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                <li class="mb-1">Odio ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                <li class="mb-1">Lobortis dui nibh at condimentum.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="marketers" role="tabpanel">
              <p class="fs-xl mb-4">Etiam sed porta massa. In sapien metus, lobortis eu tortor id, maximus commodo enim. Phasellus feugiat mi vitae enim cursus, ut scelerisque augue scelerisque. Pellentesque habitant morbi tristique senectus et netus.</p>
              <ul class="fs-xl mb-0">
                <li class="mb-1">Donec imperdiet dolor at leo sodales.</li>
                <li class="mb-1">Fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                <li class="mb-1">Lobortis ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                <li class="mb-1">Mollis dui nibh at condimentum.</li>
              </ul>
            </div>
          </div>
          <a class="btn btn-lg btn-primary w-100 w-sm-auto" href="#tickets" data-scroll="" data-scroll-offset="120">
            Buy access pass
            <i class="ai-arrow-down ms-2 me-n2"></i>
          </a>
        </div>
      </div>
          </div>
</section>
