<div class="container">
   <div class=banner>
      <h1>CURRENT LOWEST RATE</h1>
     <p><%= @lowest_rate.one_year %></p>
   </div>

   <div class="home-container">
   <h1>HOME BUYER</h1>
   <%# <div class=p-container> %>
     <p>compare mortgage rates</p>
     <p>calculate your mortgage repayments</p>
      <p>find your mortgage broker</p>
      <%# </div> %>
   </div>

   <div class="investor-container" >
      <h1>INVESTOR</h1>
         <p>compare bank rates</p>
         <p>find the best instrest rate</p>
   </div>

   <div class=signin-container>

      <div class="user-signin-btn" >
         <p>
            <button type="button" class="btn btn-primary btn-lg">sign-in</button>
         </p>
      </div>
      <div class="signin-broker-btn" >
            <p>
            <button type="button" class="btn btn-default btn-lg">apply as a broker</button>
            </p>
      </div>
   </div>

</div>
