<div class="homebuyer-list" style="position: relative">
  <div class="half-screen-list">
  </div>
  <div class=header-list>
  </div>
    <div class="image-list">
      <h1>investment property</h1>
      <p>to continue, please fill out the form to get you started.</p>
    </div>
  </div>

<%= render "mortgage_form", rate: @rate, mortgage: @mortgage %>
