.appointment-modal {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-btn {
  margin-top: 10px;
  color: red;
  border: 1px solid red;
}

.modal-title {
  font-weight: bold;
}

#exampleModalLabel {
  color: white;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(202, 120, 26), rgb(255, 0, 0));
}
