.appointment-modal {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-btn {
  margin-top: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
}

.modal-title {
  font-weight: bold;
}
