<div class="container">
  <div class="row justify-content-center">
    <div class="col-sml-6">
      <%= simple_form_for [@broker, @appointment] do |f| %>
        <%= f.input :date %>
        <%= f.input :message %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
