<div class="container">
  <div class="row justify-content-center">
    <div class="col-sml-6">
      <h2>Edit the broker profile:</h2>
      <%= render 'simple_form_broker', broker: @broker %>
    </div>
  </div>
</div>
